.notebooks-preview-container {
    width: 100%;
}


.notebooks-preview-container.flash {
    animation: color-in;
    animation-duration: 0.5s
}


@keyframes color-in {
    from {
        opacity: 0%;
        
    }

    to {
        background-color: rgb(0, 94, 202);
    }
}

.nb-table-header {
    display: flex;
    font-size: 11px;
    color: #d9d9d9;
    width: 100%;
    height: 36px;
    font-weight: 600;
    
}

.nb-th-txt {
    display: flex;
    align-items: center;
}


.nb-th-one {
    width: 50%;
    height: 100%;
}

.nb-th-two {
    width: 15%;
    height: 100%;
}

.nb-th-three {
    width: 15%;
    height: 100%;
}

.nb-th-four {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    text-align: right;
    padding-inline-end: 5px;
}


/* TABLE CONTENTS */

.nb-table-content {
    display: flex;
    color: #d9d9d9;
    width: 100%;
    height: 36px;
    font-size: 14px;
    font-weight: 600;
}

.nb-table-content:hover {
    background-color: #262626;
}

.nb-table-content:focus-within {
    background-color: #3d3d3d;
    
}

.nb-td-txt {
    display: flex;
    align-items: center;
}


.nb-td-one {
    width: 50%;
    height: 100%;
}

.nb-th-arrow-right {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nb-th-arrow-right.arrow-right-turned {
    transform: rotate(90deg);
}


.nb-th-notebook {
    margin-left: 10px;
    margin-right: 10px;
}


.nb-td-two {
    width: 15%;
    height: 100%;
}

.nb-td-three {
    width: 15%;
    height: 100%;
}

.nb-td-four {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    text-align: right;
    padding-inline-end: 10px;
}

.nb-td-actions {
    cursor: pointer;
}






/* NOTEBOOK NOTES DROPDOWN */
.notebook-notes-dropdown-container {
    display: flex;
    flex-direction: column;
}

.notebook-notes-dropdown {
    display: flex;
    width: 100%;
    height: 36px;
    animation: grow-in;
    animation-duration: 0.25s;
}

.notebook-notes-dropdown:hover {
    background-color: #262626;
}

.notebook-notes-dropdown:focus-within {
    background-color: #3d3d3d;
}


@keyframes grow-in {
    from {
        height: 0px;
    }
}

.nn-row {
    display: flex;
    align-items: center;
}


.nn-row-one {
    width: 50%;
    height: 100%;
    padding-inline-start: 35px;
}

#nn-row-title {
    display: flex;
    align-items: center;
    white-space: no-wrap;
    overflow: hidden;
}

.nn-row-icon {
    color: #d9d9d9;
    margin-right: 10px;
}

#nn-row-title-txt {
    display: block;
    width: 245px;
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
    color: #d9d9d9;
    cursor: pointer;
}

#nb-td-name {
    cursor: pointer;
}

#nb-td-name:hover {
    text-decoration: underline;
}


#nn-row-title-txt:hover {
    text-decoration: underline;
}

.nn-row-two {
    width: 15%;
    height: 100%;
}

.nn-row-three {
    width: 15%;
    height: 100%;
}

.nn-row-four {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    padding-inline-end: 8px;
    color: #d9d9d9;
}

.nn-row-txt {
    font-size: 12.5px;
    font-weight: 600;
    color: #d9d9d9;
}

.nn-row-ellips {
    font-size: 15px;
    margin-right: 14px;
    cursor: pointer;
}


.nn-options-dropdown {
    position: absolute;
    top: 35%;
    left: 43%;
    width: 400px;
    background-color: #262626;
    border: 1px solid #d9d9d92a;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.753);
    border-radius: 4px;
    padding-top: 10px;
    animation: fade-in;
    animation-duration: 0.2s;
}

#nn-od-title {
    color: #e9e9e9;
    margin-left: 10px;
    font-weight: 600;
}




.nn-od-row {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border-bottom: 0.5px solid #d9d9d981;
    padding-inline-start: 15px;
    color: #d9d9d9;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.nn-od-row:hover {
    background-color: #3d3d3d94;
}

.nn-odr-title {
    display: flex;
    justify-content: center;
}

.nn-odr-icon {
    margin-right: 0;
}

.nn-odr-last {
    border: none;
}
/* NOTEBOOK-NOTE ACTIONS POPUP */









/* NOTEBOOK ACTIONS POPUP */
.notebook-actions-container {
    position: absolute;
    top: 40%;
    left: 42%;
    width: 400px;
    background-color: #262626;
    border: 1px solid #e6e6e63a;
    border-radius: 4px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.795);
    animation: fade-in;
    animation-duration: 0.25s;
}

.nb-actions-row {
    display: flex;
    align-items: center;
    height: 36px;
    width: 100%;
    border-bottom: 1px solid #e6e6e625;
    padding-inline-start: 15px;
    color: #a6a6a6;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.nb-actions-row:hover {
    background-color: #6d6d6d31;
}

.nb-actions-row > p {
    margin: 0;
    padding: 0;
}

.nb-ar-title {
    display: flex;
    justify-content: center;
    color: #e6e6e6;
    text-align: center;
    font-size: 16px;
    cursor: default;
}

.nb-ar-title:hover {
    background-color: transparent;
}

#nb-ar-title-txt {
    margin-left: 8px;
}

.nb-ar-last {
    border: none;
}
/* NOTEBOOK ACTIONS POPUP */






/* RENAME NOTEBOOK FORM */
.rename-notebook-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 42%;
    width: 480px;
    height: 280px;
    background-color: #262626;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.781);
    border-radius: 4px;
    border: 1px solid #e6e6e627;
    padding-top: 20px;

}

.rn-nb-row-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    width: 100%;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

#rn-nb-rt-txt {
    margin: 0;
    padding: 0;
    color: #e6e6e6;
    font-weight: 600;
}

.rn-nb-rt-icon {
    font-size: 22px;
    color: #7a7a7a;
    cursor: pointer;
}


.rename-notebook-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.rn-nbf-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #e6e6e623;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
}

.rn-nbf-inputs > label {
    font-size: 12.5px;
    font-weight: 600;
    color: #d9d9d9;
    margin-bottom: 4px;
}


.rn-nbf-inputs > input {
    border: none;
    border: 1px solid #4d4d4d;
    background-color: transparent;
    height: 38px;
    border-radius: 4px;
    color: #e6e6e6a1;
    font-size: 16px;
    padding-inline-start: 10px;
}

.rn-nbf-error {
    display: flex;
    align-items: center;
    height:  30px;
    width: 100%;
    font-size: 14px;
    color: rgb(189, 56, 56);
}

#rn-nbf-err-txt {
    margin: 0;
    padding: 0;
}

.rn-nbf-btns {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: 38px;
    width: 100%;
    bottom: 15px;
    padding-inline-end: 20px;
}


#nb-rn-btn-cancel {
    width: 75px;
    height: 100%;
    border-radius: 4px;
    border: none;
    border: 1px solid #d9d9d9;
    background-color: transparent;
    color: #d9d9d9;
    cursor: pointer;
}

.nb-rn-btn-submit {
    margin-left: 10px;
    width: 75px;
    height: 100%;
    border-radius: 4px;
    border: none;
    color: #e6e6e6;
    background-color: rgb(0, 156, 0);
    transition: all 0.25s ease-in-out;
}


.nb-rn-btn-submit.darken-disable {
    background-color: grey;
    transition: all 0.25s ease-in-out;
}
/* RENAME NOTEBOOK FORM */



/* DELETE NOTEBOOK CONFIRMATION */

.delete-nb-container {
    position: absolute;
    top: 32%;
    left: 42%;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 200px;
    background-color: #262626;
    border: 1px solid #742222b2;
    border-radius: 8px;
    animation: fade-in;
    animation-duration: 0.25s;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.705);
}

.delete-nb-text {
    position: relative;
    top: 30px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    color: #e6e6e6;
    font-weight: 600;
}


.delete-nb-form {
    display: flex;
    width: 100%;
    height: 100%;
}


.delete-nbf-btns {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 38px;
}



#delete-nbf-cancel {
    width: 80px;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 4px;  
    background-color: transparent;
    border: 1px solid #c4c4c4d3;
    color: #c4c4c4d3;
    transition: all 0.2s ease-in-out;
}

#delete-nbf-cancel:hover {
    background-color: rgba(128, 128, 128, 0.123);
}

#delete-nbf-submit {
    width: 80px;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    color:rgb(180, 77, 77);
    transition: all 0.2s ease-in-out;
}

#delete-nbf-submit:hover{ 
    border: 1px solid rgb(180, 77, 77);
}

.move-to-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40%;
    top: 20%;
    width: 500px;
    height: 500px;
    background-color: #262626;
    border-radius: 5px;
    border: 1px solid #363636;
    box-shadow: 0px 10px 50px black;
    animation: fade-in;
    animation-duration: 0.25s;
}

.mtc-title-bar {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #363636;
}

#mtc-title {
    margin-left: 20px;
    font-size: 18px;
    color: #e9e9e9;
}

.mtc-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    color: #d9d9d9;
}


.move-to-row {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.move-to-row:focus {
    background-color: #3636368f;
    border: 1px solid rgb(0, 102, 255);
}

.move-to-row:hover {
    background-color: #3636368f;
}


.move-to-row.current-nb {
    /* background-color: #5c5c5cc0; */
    color: #8d8d8d;
}


.confirm-row-mtc {
    align-self: flex-end;
    margin-top: auto;
    width: 100%;
    border-top: 1px solid #363636;
}

.confirm-row-mtc-err {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    padding-inline-start: 20px;
}


#mtc-err-txt {
    padding: 0;
    margin: 0;
    color: rgb(194, 194, 194);
}


.confirm-row-mtc-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
}

.confirm-row-mtc-btns button {
    height: 36px;
    width: 80px;
    margin-right: 25px;
}


#mtc-cancel-btn {
    background-color: transparent;
    color: #d9d9d9;
    border: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#mtc-cancel-btn:hover {
    background-color: rgba(128, 128, 128, 0.295);
}


#mtc-submit-btn {
    background-color: rgb(0, 163, 0);;
    color: black;
    border: none;
    border-radius: 4px;;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


#mtc-submit-btn:hover {
    background-color: rgb(0, 141, 0);
}


.nn-delete-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 43%;
    width: 400px;
    height: 200px;
    background-color: #262626;
    border: 1px solid #363636;
    border-radius: 8px;
}

.nn-delete-title {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #363636;
}

#nn-delete-txt {
    font-size: 18px;
    color: #e9e9e9;
    margin-left: 20px;
}

.nn-delete-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nn-delete-inner-txt {
    font-size: 20px;
    color: #d9d9d9;
}

.nn-delete-btns {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nn-delete-btns button {
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#nn-delete-cancel {
    border: 1px solid #d9d9d9;
    color: #d9d9d9;
    background-color: transparent;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}

#nn-delete-cancel:hover {
    background-color: rgba(128, 128, 128, 0.164);

}


#nn-delete-submit {
    border: 1px solid #d9d9d9;
    color: #a13030;
    background-color: transparent;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}

#nn-delete-submit:hover {
    border: 1px solid #a13030;
}