.notebooks-preview-container {
    width: 100%;
}

.nb-table-header {
    display: flex;
    font-size: 11px;
    color: #d9d9d9;
    width: 100%;
    height: 36px;
    font-weight: 600;
    
}

.nb-th-txt {
    display: flex;
    align-items: center;
}


.nb-th-one {
    width: 50%;
    height: 100%;
}

.nb-th-two {
    width: 15%;
    height: 100%;
}

.nb-th-three {
    width: 15%;
    height: 100%;
}

.nb-th-four {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    text-align: right;
    padding-inline-end: 5px;
}


/* TABLE CONTENTS */

.nb-table-content {
    display: flex;
    color: #d9d9d9;
    width: 100%;
    height: 36px;
    font-size: 14px;
    font-weight: 600;
}

.nb-table-content:hover {
    background-color: #262626;
}

.nb-table-content:focus-within {
    background-color: #3d3d3d;
    
}

.nb-td-txt {
    display: flex;
    align-items: center;
}


.nb-td-one {
    width: 50%;
    height: 100%;
}

.nb-th-arrow-right {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nb-th-arrow-right.arrow-right-turned {
    transform: rotate(90deg);
}


.nb-th-notebook {
    margin-left: 10px;
    margin-right: 10px;
}


.nb-td-two {
    width: 15%;
    height: 100%;
}

.nb-td-three {
    width: 15%;
    height: 100%;
}

.nb-td-four {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    text-align: right;
    padding-inline-end: 10px;
}


/* NOTEBOOK NOTES DROPDOWN */

.notebook-notes-dropdown-container {
    display: flex;
    flex-direction: column;
}

.notebook-notes-dropdown {
    display: flex;
    width: 100%;
    height: 36px;
    animation: grow-in;
    animation-duration: 0.25s;
}

.notebook-notes-dropdown:hover {
    background-color: #262626;
}

.notebook-notes-dropdown:focus-within {
    background-color: #3d3d3d;
}


@keyframes grow-in {
    from {
        height: 0px;
    }
}

.nn-row {
    display: flex;
    align-items: center;
}


.nn-row-one {
    width: 50%;
    height: 100%;
    padding-inline-start: 35px;
}

#nn-row-title {
    display: flex;
    align-items: center;
    white-space: no-wrap;
    overflow: hidden;
}

.nn-row-icon {
    color: #d9d9d9;
    margin-right: 10px;
}

#nn-row-title-txt {
    display: block;
    width: 245px;
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
    color: #d9d9d9;
}

.nn-row-two {
    width: 15%;
    height: 100%;
}

.nn-row-three {
    width: 15%;
    height: 100%;
}

.nn-row-four {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    padding-inline-end: 8px;
    color: #d9d9d9;
}

.nn-row-txt {
    font-size: 12.5px;
    font-weight: 600;
    color: #d9d9d9;
}

.nn-row-elips {
    font-size: 10px;
}


.nn-options-dropdown {
    position: absolute;
    top: 35%;
    left: 43%;
    width: 400px;
    background-color: rgb(43, 43, 43);
    border: 1px solid #d9d9d9;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.753);
    border-radius: 4px;
    padding-top: 20px;
    animation: fade-in;
    animation-duration: 0.2s;
}

#nn-od-title {
    color: #e9e9e9;
    margin-left: 10px;
    font-weight: 600;
}


.nn-od-row {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border-bottom: 0.5px solid #d9d9d981;
    padding-inline-start: 15px;
    color: #d9d9d9;
    font-weight: 600;
    cursor: pointer;
}

.nn-od-row:hover {
    background-color: #3d3d3d94;
}